<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TypeScript Knockout Setup Example</title>
  </head>

  <body>
    <div id="app" class="container">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Coin Counter</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav">
            <li
              class="nav-item"
              role="presentation"
              data-bind="class: newGameButtonClass"
            >
              <a
                class="nav-link"
                href="#"
                data-bind="click: setGameVisible, text: newGameButtonText"
              ></a>
            </li>
            <li
              class="nav-item"
              role="presentation"
              data-bind="class: highScoresButtonClass"
            >
              <a
                class="nav-link"
                href="#"
                data-bind="click: setHighScoreVisible"
                >High Scores</a
              >
            </li>
            <li
              class="nav-item"
              role="presentation"
              data-bind="class: aboutButtonClass"
            >
              <a
                class="nav-link"
                href="#"
                data-bind="click: setAboutPageVisible"
                >About</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                href="#"
                data-bind="click: unitTestsButtonClick"
                >Unit Tests</a
              >
            </li>
          </ul>
        </div>
      </nav>

      <!-- Game screen -->
      <section class="container" data-bind="visible: gameVisible()">
        <div class="row pt-3">
          <div
            class="col-md-5 xxl"
            data-bind="text: whatTheUserShouldBeDoing()"
          ></div>
          <div class="col-md-3 xxl">
            <span data-bind="text: gameClock.timeRemainingFormatted"></span>
            <button
              class="btn btn-lg btn-info"
              data-bind="click: resumeGame, enable: isPaused(), visible: isPaused()"
            >
              Resume
            </button>
            <button
              class="btn btn-md"
              data-bind="click: pauseGame, enable: canBePaused(), visible: canBePaused()"
            >
              Pause
            </button>
          </div>
          <div class="col-md-4 xl" data-bind="text: scoreText() "></div>
        </div>
        <div class="row">
          <div class="col-md-12"><hr /></div>
        </div>
        <div data-bind="foreach: coins">
          <div class="row">
            <div class="col-md-2">
              <span class="xl" data-bind="text: name"></span>
            </div>
            <div class="col-md-2 unselectable">
              <button
                class="btn btn-lg btn-coin glyphicon glyphicon-minus"
                data-bind="click: $parent.removeCoin, enable: $parent.removeCoinEnabled($data)"
              ></button>
              <button
                class="btn btn-lg btn-coin glyphicon glyphicon-plus"
                data-bind="click: $parent.addCoin, enable: $parent.addCoinEnabled($data)"
              ></button>
            </div>
            <div class="col-md-1">
              <span class="xxl" data-bind="text: count"></span>
            </div>
            <div
              class="col-md-7 coinDiv"
              data-bind="attr: {id: $parent.destinationDivIDForCoin($data)}"
            ></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <button
              class="btn btn-primary btn-lg btn-lg-wide"
              data-bind="click: checkForVictory, enable: buttonsEnabled()"
            >
              Go
            </button>
          </div>
        </div>
      </section>

      <!-- Player name modal -->
      <div
        class="modal fade"
        id="nameModal"
        role="dialog"
        data-keyboard="false"
        data-backdrop="static"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Welcome to Coin Counter</h4>
            </div>
            <div class="modal-body">
              <span data-bind="text:playerNameQuestion"></span>
              <input
                id="playerNameInput"
                type="text"
                data-bind="value: playerName"
              />
              <button
                id="playerNameOK"
                data-dismiss="modal"
                role="button"
                class="btn btn-primary"
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Game over modal -->
      <div
        class="modal fade"
        id="gameOverModal"
        role="dialog"
        data-keyboard="false"
        data-backdrop="static"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Game Over!</h4>
            </div>
            <div class="modal-body">
              <div data-bind="html: endOfGameMessage"></div>
            </div>
            <div class="modal-footer">
              <button
                class="btn btn-primary"
                data-bind="click: startBrandNewGame"
                data-dismiss="modal"
              >
                Play again!
              </button>
              <button class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

   
    </div>
  </body>
</html>
